body{
  background:f17ea1;
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.login-box{
 background: white;
  padding: 50px;
  width: 300px;
  border-radius:10px;
}
 input{
   box-sizing:border-box;
   border: 2px solid black;
   border-radius:5px;
   padding: 10px;
   width: 100%;
   margin-bottom:15px;
 }

button{
  width: 100%;
  padding: 10px;
  background-color: #d8bfd8;
  border-radius: 5px;
 
}

